<div class="page login-page">
  <div class="container d-flex align-items-center">
    <div class="form-holder has-shadow">
      <div class="row">
        <div class="col-lg-6">
          <div class="info d-flex align-items-center">
            <div class="content">
              <div class="logo">
                <h1>Dashboard</h1>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 bg-white">
          <div class="form d-flex align-items-center">
            <div class="content">
              <form class="loginForm"  id="login-form">
                <mat-form-field class="example-full-width" [color]="warn" >
                  <input matInput placeholder="Username" [formControl]="loginForm.controls['username']" name="username">
                  <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                    Username is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" >
                  <input matInput placeholder="Password" [formControl]="loginForm.controls['password']" name="password" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </form>
              <button mat-button [disabled]="!loginForm.valid" (click)="login()" padding >Login</button>
              <a class="col-sm-1">or</a>
              <button mat-button padding routerLink="/register">Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
